body{
    background-color:#000;
    margin-top:15%;
}

.receipt {
    background-color:#fff;
    width:20%;
    margin:0 auto;
    padding: 1.5em;
    font-size:150%;
}

h1{
    text-align:center;
}
